.sea_top{width: 90%;height: 12.5rem;margin: 0 auto;padding: 1.25rem;background-image: url(../img/sea_1.jpg);background-size: 100%;}
.sea_top h1{color: royalblue;font-size: 80px;font-family: "楷体";}
.sea_top p{text-indent: 2em;font-family: "新宋体";font-weight: bolder;font-size: 20px;}
.sea_guide{height: 2.5rem;width: 90%;text-align: center;clear: both;margin: 0 auto;padding: 0 auto;}
.sea_guide li{list-style-type: none;float: left;width: 20%;margin:0 1.25rem;border: solid black 0.125rem;padding: 10px 0;}
.sea_guide li a{text-decoration: none;color: ghostwhite;}
.sea_guide li a:hover{text-decoration: none;color:darkgray ;font-weight: bolder;}
.sea_down{width: 90%;height: 950px;margin: 0 auto;background-image: linear-gradient(90deg, rgb(117, 159, 181),rgb(11, 50, 63));padding: 0 1.25rem;text-align: center;}
.sea_down iframe{width: 45%;height: 810px;margin: 20px;border: solid gainsboro 0.125rem;}
.sea_right{width: 40%;height: 400px;margin: 20px;float: left;border: #8FBC8F solid 5px;background-color: #D4DADA;}
#sea_in li{height: 30px;list-style-type: none;}
#sea_in li a{text-decoration: none;color: darkseagreen;}
#sea_in li a:hover{text-decoration: none;color: seagreen;}
#sea_out li{height: 30px;list-style-type: none;}
#sea_out li a{text-decoration: none;color: darkseagreen;}
#sea_out li a:hover{text-decoration: none;color: seagreen;}
.sea_rightdown{width: 40%;height: 370px;margin: 20px;float: left;background-image: url(../img/sea_pic.jpg);background-size:100% ;border: #8FBC8F solid 5px;}
.sea_back{width: 90%;height: 50px;margin: 0 auto;background-image: linear-gradient(90deg, rgb(117, 159, 181),rgb(11, 50, 63));padding: 0 1.25rem;text-align:right;}
.sea_back li{list-style-type: none;float: right;width: 70px;margin:0 10px;padding: 10px 0;}
.sea_back li a{text-decoration: none;color: ghostwhite;}
.sea_back li a:hover{text-decoration: none;color:darkgray;font-weight: bolder;}